
body{
  background-color: white;
}

h1{
  text-align: center;
}

#main{
  background-color: lightgrey;
}

#first1{
  padding-left: 40px;
  padding-top: 10px;
}
#second{
  padding-left: 500px;
}
#third{
  padding-left: 515px;
}
